<footer class="measure center">
  <nav class="w-100 mw8-ns flex justify-center sans-serif f5 f6-l">
    <ul class="w-100 list pl0 cf mt0 mb0 mw8-ns flex flex-wrap justify-center  bb bt">
      <li class="pa1 ttu"><a href="/writings">more articles</a></li>
    </ul>
  </nav>
</footer>
