<ul class="list pl0 cf mt0 mb0 mw8-ns flex flex-wrap justify-center pb0 bb bt">
  {{#foreach navigation}}
  <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} pa2 ttu f5"><a href="{{url absolute="true"}}" class="no-underline">{{label}}</a></li>
  {{/foreach}}
</ul>
