{{!< default}}

<div class="gh-page lh-copy w-100-l">
  <div class="gh-container">

    <div class="gh-postfeed measure center">
      {{#foreach posts}}

      {{> "card"}} {{!-- partials/card.hbs --}}

      {{/foreach}}
    </div>

  </div>
</div>
