/* Tachyons Not Small (*-ns) Overrides -- copied definition from tachyons */
@media screen and (min-width: 30em) {
  html {
    font-size: 16px;
  }
}


/* Tachyons medium (*-m) overrides -- copied definition from tachyons */
@media screen and (min-width: 30em) and (max-width: 60em) {
  html {
    font-size: 18px;
  }
}

/* Tachyons large (*-l) overrides -- copied definition from tachyons */
@media screen and (min-width: 60em) {
  html {
    font-size: 18px;
  }
}


.serif {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Merriweather', serif;
}

.sans-serif {
  font-family: 'Open Sans', sans-serif;
}

.merriweather {
  font-family: 'Merriweather';
}

/* .lh-copy { line-height: 1.6; } */

h1 {
  font-family: 'Merriweather', serif;
  font-weight: normal;
  color: rgba( 0, 0, 0, .7 );
}


h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: rgba( 0, 0, 0, .7 );
  margin-top: 2rem;
  margin-bottom: 0;
}

#site-header nav ul li:before {
  content: '  ';
  list-style-type: none;
}
#site-header nav ul li:first-child:before {
  content: none;
}

code, .code {
  font-family: "Courier Prime", monospace;
}

pre[class*=language],
pre code,
pre code[class*=language-] {
  font-family: "Courier Prime", monospace;
  overflow: auto;
  font-size: 0.875rem;
  line-height: 1.1;
  text-shadow: none;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #f0f0f0;
  /* padding: 1rem 0.rem; */
  /* padding: 0.875rem; */
  margin: 1rem 0;
}

pre code {
  background-color: transparent;
}

#site {
  margin: 0 auto;
}

#site-header a.title {
  font-color: red;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:visited {
  color: #000;
}

a, a:visited {
  color: rgba(0,0,0,.7);
}

a:hover {
  color: #555;
}

a:active {
  color: #FF6300;
}


article img {
  display: block;
  max-width: 100%;
}

article figure {
  margin: 0;
}

article figcaption {
  text-align: center;
  font-size: .875rem;
  font-family: "Lato";
}

.home-template article:after {
  content: "❋ ❋ ❋";
  color: #ccc;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.home-template article:last-child:after {
  content: ' ';
  padding-top: 0;
  margin-bottom: 0;
}

/* Default breakout and fullpage images to full width of screen */
.kg-image-card .kg-image {
  margin-left: auto;
  margin-right: auto;
}

.kg-width-wide .kg-image,
.kg-width-full .kg-image {
  display: block;
  margin-left: 50%;
  max-width: none;
  transform: translateX(-50%);
  width: 100vw;
}

/* Gallery */
.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: none;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

/* Embed card */
.kg-embed-card {
  margin-left: 50%;
  max-width: none;
  transform: translateX(-50%);
  width: 100vw;
}

.kg-bookmark-card,
.kg-bookmark-container,
.kg-bookmark-content,
.kg-bookmark-title,
.kg-bookmark-description,
.kg-bookmark-metadata,
.kg-bookmark-icon,
.kg-bookmark-author,
.kg-bookmark-publisher,
.kg-bookmark-thumbnail {

}

/* Tachyons Not Small (*-ns) Overrides -- copied definition from tachyons */
@media screen and (min-width: 30em) {
}



/* Tachyons medium (*-m) overrides -- copied definition from tachyons */
@media screen and (min-width: 30em) and (max-width: 60em) {
  .kg-width-wide .kg-image {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 64rem;
    width: 100vw;
  }

  .kg-gallery-container {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 48rem;
    width: 100vw;
  }

  .kg-embed-card {
    margin-left: auto;
    max-width: none;
    transform: translateX(-9rem);
    width: 48rem;
  }
}

/* Tachyons large (*-l) overrides -- copied definition from tachyons */
@media screen and (min-width: 60em) {
  .kg-width-wide .kg-image {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 64rem;
    width: 100vw;
  }

  .kg-width-full .kg-image {
    border-radius: 0;
    clear: both;
    display: block;
    margin-left: 50%;
    max-width: none;
    transform: translateX(-50%);
    width: 100vw;
  }

  .kg-gallery-container {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 64rem;
    width: 100vw;
  }

  /* Embed card */
  .kg-embed-card {
    margin-left: auto;
    max-width: none;
    transform: translateX(-17rem);
    width: 64rem;
  }
}

/* .kg-* classes that must be defined for ghost 4.0 */

.kg-bookmark-card,
.kg-bookmark-container,
.kg-bookmark-content,
.kg-bookmark-title,
.kg-bookmark-description,
.kg-bookmark-metadata,
.kg-bookmark-icon,
.kg-bookmark-author,
.kg-bookmark-publisher,
.kg-bookmark-thumbnail {
  color: inherit;
}
